* {
    margin: 0;
    font-family: Catamaran, sans-serif;
}

#logoMenu {
    width: 150px;
    margin: 10px 0 0 35px;
    cursor: pointer;
}

#menu li {
    margin-left: 40px;
    display: inline-block;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

nav {
    float: right;
    margin: 20px 40px 0 0;
}

/* ----- PRIMEIRA SECTION ----------*/
#primeiraSection {
    background-image: url('img/fundo08.jpg');
    background-size: cover;
    background-position-x: right;
}

.paixao {
    font-size: 88px;
    color: rgb(238, 128, 201);
    line-height: 69px;
}

.ensinar {
    font-size: 100px;
    color: white;
}

p {
    color:white;
    font-size: 20px;
}

#botaoComecar {
    padding: 14px;
    width: 148px;
    font-family: Catamaran, sans-serif;
    font-size: 15px;
    background-color: rgb(236, 62, 158);
    color: white;
    border: white 1px solid;
    border-radius: 42px;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
}

#botaoComecar:hover {
    background-color: white;
    color: rgb(236, 62, 158);
}


/* ---SEGUNDA SESSÃO ----------- */
#iconesCursos {
    width: 90%;
    margin: 70px 0 0 15px;
}

#segundaSection h2 {
    color: rgb(148, 24, 127);
    font-size: 35px;
}

#segundaSection .gratuitos {
    color: rgb(236, 62, 158);
}

#botaoConhecer {
    padding: 14px;
    width: 148px;
    font-family: Catamaran, sans-serif;
    font-size: 15px;
    background-color: rgb(236, 62, 158);
    color: white;
    border: none;
    border-radius: 42px;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
}

#botaoConhecer:hover {
    background-color: rgb(214, 46, 138);
}

.flex-container {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.flex-item {
    flex-grow: 1;
    padding-left: 60px;
}

#textoCursos {
    display: table;
}

.spanCursos {
    display: table-cell;
    vertical-align: middle;
    padding-right: 140px;
}

.spanCursos h2 {
    font-size: 22pt;
    line-height: 40px;
}

/* --------- TERCEIRA SECTION ---------- */

.coracao {
    color: rgb(236, 62, 158);
    font-size: 30px;
}


#terceiraSection h2 {
    font-size: 22pt;
    line-height: 40px;
    color: rgb(148, 24, 127);
}

#terceiraSection {
    display: table;
    margin-top: 120px;
}

#mensagens {
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(236, 177, 229);
    border-radius: 15px;
    padding: 100px 127px 100px 178px;
    width: 60%;
    line-height: 2;
}

#mensagens .bolinha:hover {
    background-color:rgb(168, 34, 117);
}

#mensagens .bolinha {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e043db;
    display: inline-block;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: center;
}

#terceiraSection #txtMsg {
    margin-left: 185px;
    margin-right: 78px;
    margin-top: 50%;
}

#foto1 {
    border-radius: 50%; 
    width: 15%;
    display: inline-block;
}

#mensagens h3 {
    color:rgb(235, 95, 153);
    margin-left: 13px;
    display: inline-block;
}

#depoimento {
    font-size: 20px;
    padding-left: 127px;
    height: 325px;
}

/* ------QUARTA SECTION ------*/

#botaoApoiador {
    padding: 16px;
    width: 250px;
    font-family: Catamaran, sans-serif;
    font-size: 17px;
    background-color: white;
    color: rgb(236, 62, 158);
    border: rgb(236, 62, 158) 1px solid;
    border-radius: 42px;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
}

#botaoApoiador:hover {
    background-color: rgb(236, 62, 158);
    color: white;
}

#mao {
    display: table;
    float: right;
    margin-top: -500px;
    margin-bottom: 50px;
    width: 31%;
    padding: 184px;
}

#quartaSection .texto {
    display: table-cell;
}

#quartaSection h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.texto {
    padding: 50% 0 0 30%;
    color: rgb(148, 24, 127);
}

.texto h3 {
    font-weight: normal;
    font-size: 20px;
}

#conteudoEstudonauta {
    display: inline-block;
    text-align: center;
    background: url("img/banner-estudonauta8.jpg");
    width: 100%;
    height: 340px;
    background-size: cover;
}

#conteudoEstudonauta h4 {
    color: white;
    background-color: #7d3196;
    font-size: 18px;
    width: fit-content;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

#conteudoEstudonauta p {
    margin-top: 45px;
}

#botaoConhecerEstudo {
    padding: 14px;
    width: 148px;
    font-family: Catamaran, sans-serif;
    font-size: 15px;
    background-color: white;
    color: rgb(236, 62, 158);
    border: none;
    border-radius: 42px;
    font-weight: bold;
    margin-top: 35px;
    cursor: pointer;
}

#botaoConhecerEstudo:hover {
    background-color: rgb(236, 62, 158);
    color: white;
}

#estudonauta {
    margin-top: 20px;
}

/* ---QUINTA SECTION ----*/

#quintaSection {
    background-color: rgb(245 243 243);
    height: 315px;
}

#quintaSection h4 {
    color: rgb(148, 148, 148);
    padding: 4em 0 0 4em;
    font-size: 15px;
}

#quintaSection .logos {
    padding: 50px;
    text-align: center;
    margin-bottom: -16px;
    cursor: pointer;
}

#botaoInstitucional {
    border: 1px solid rgb(206, 205, 205);
    padding: 6px;
    background-color: rgb(245 243 243);
    float: right;
    margin: 0 80px;
    color:grey;
    cursor: pointer;
}

/* -----SEXTA SECTION----*/
#sextaSection {
    background-color:rgb(236, 234, 234);
    height: 202px;
    display: flex;
    width: 100%;
}

#sextaSection span {
    flex: 1;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

#sextaSection .links {
    text-align: center;
}

#logoFinal {
    width: 100px;
    margin: 10px 0 0 35px;
    cursor: pointer;
}

#menuRodape {
    list-style-type: none;
    display: inline-flex;
}

#menuRodape a {
    text-decoration: none;
    color:gray;
}

#menuRodape a:hover {
    color:rgb(236, 62, 158);
}

#menuRodape li {
    margin: 5px;
}

#sextaSection p {
    color:grey;
    font-size: 15px;
    margin: 15px 0 15px 38px;
}

#redesSociais {
    text-align: right;
    margin-right: 79px;
}

#redesSociais i {
    color: gray;
    padding: 10px;
    font-size: 25px;
}

#redesSociais i:hover {
    color:rgb(236, 62, 158);
}

.acesse {
    color: rgb(46, 45, 45);
}

/* -------FOOTER---- */
footer a {
    color: gray;
    font-size: x-small;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color:rgb(219, 218, 218);
    height: 48px;
    text-align: center;
}