* {
    margin: 0;
    font-family: Catamaran, sans-serif;
}

#logoMenu {
    width: 150px;
}


#menu li {
    margin-left: 40px;
    display: inline-block;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

#primeiraSection {
    background-color:rgb(211, 9, 144)
    }






#logoMenu {
    margin: 10px 0 0 35px;
}

.paixao {
    font-size: 88px;
    color: rgb(238, 128, 201);
    line-height: 69px;
}
.ensinar {
    font-size: 100px;
    color: white;
}


p {
    color:white;
    font-size: 20px;
}

nav {
    display:inline-block;
    float: right;
    margin: 20px 40px 0 0;

}

/* SEGUNDA SESSÃO */
#iconesCursos {
    width: 70%;
    margin: 70px 0 0 15px;
}

#segundaSection h2 {
    color: rgb(148, 24, 127);
}

.coracao {
    color: rgb(236, 62, 158);
    font-size: 30px;
}

#mensagens {
    background-color: rgb(240, 196, 235);
}

#segundaSection .gratuitos {
    color: rgb(236, 62, 158);
}



#botaoConhecer {
    padding: 14px;
    width: 148px;
    font-family: Catamaran, sans-serif;
    font-size: 15px;
    background-color: rgb(236, 62, 158);
    color: white;
    border: none;
    border-radius: 42px;
    font-weight: bold;
    margin-top: 50px;
}



#textoPaixaoEFotoGuanabara {
    display: table;
}


#textoPaixao {
   
    padding-left: 50px;
    display: table-cell;
    vertical-align: middle;
    
    
 }


 
#banner {
    width: 100%;
}

#botaoComecar {
    padding: 14px;
    width: 148px;
    font-family: Catamaran, sans-serif;
    font-size: 15px;
    background-color: rgb(236, 62, 158);
    color: white;
    border: white 1px solid;
    border-radius: 42px;
    font-weight: bold;
    margin-top: 50px;
}

#textoCursos {
    display: table;
}



.spanCursos {
    
    display: table-cell;
    vertical-align: middle;
}

.spanCursos h2 {
    font-size: 22pt;
}